div.default-theme nav.navbar {
    background-color: rgb(245, 245, 245) !important;
}

div.default-theme div.navbar-collapse ul li a{
    color: rgb(243, 52, 52) !important;
}

div.default-theme div.navbar-collapse ul li a{
    color: black !important;
}

div.default-theme div.navbar-collapse ul li:hover {
    background-color: rgba(230, 230, 230, 0.774) !important;
    
}

div.default-theme button.navbar-toggler{
    background-color: white;
}
