div.yellow-theme nav.navbar {
    background-color: rgb(240, 226, 34) !important;
}

div.navbar-collapse ul li a{
    color: black !important;
    
}

div.yellow-theme div.navbar-collapse ul li:hover {
    background-color: rgba(255, 255, 0, 0.938) !important;
    
}

div.yellow-theme button.navbar-toggler{
    background-color: black;
}
